body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
}

/* Mountains  */
.mountains-container {
    display: flex;
    justify-content: center;
}

.mountains {
    width: 75%;
    height: 75%;
    margin-top: 6%;
    align: bottom;
}

/* Navbar  */
.nav-container {
    margin: 0px;
    padding: 0px;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.left-logos {
    display: inline-flex;
    margin-left: 10px;
}

.left-logos>object {
    width: 30px;
    margin-left: 30px;
}

.divider {
    flex-grow: 1;
}

.right-logos {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    color: #FF3B3F;
    margin-right: 15px;
}

.right-logos>span {
    margin-right: 30px;
}

/* Name */
header>h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 7.5em;
    font-weight: lighter;
    color: #FA7376;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header>h4 {
    font-family: 'Futura';
    font-style: italic;
    font-size: 1.5rem;
    color: #A9A9A9;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* Tool Set */

main>h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #FA7376;
}


.card {
    background-color: #CE7A7A;
    border-radius: 4%;
    height: 450px;
}

/* .libr-card {
    background-color: #FA7376;
    width: 30%;
    height: 450px;

}

.other-card {
    background-color: #FA7376;
    width: 30%;
    height: 450px;

} */

/* Footer */
footer {
    height: 100px;
}